*
{
    margin: 0;
    padding :0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body
{
    background: #080808;
    color: #fff;
    
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}
footer
{
    min-height: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(53,107,231);
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.summary
{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
    width: auto;

}
#hewin-image
{
    width: 25%;
    height: auto; 
}
.home-button-tag
{
    width: 150px;
    height: 50px;
    margin: -2px;
    border-width:0px;
    border-bottom: 0px;
    padding:0px;
}
.home-button-image
{
    margin:0%;
    padding:0%;
    height: auto;
    width: 100%;

}
.desktop
{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-image: url(wallpaper.jpg);
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    


}
.icon-btn
{
display: block;
  width: 10%;
  margin: none;
  padding: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.icon
{
   width: 100%;
    height:auto;
    display: block;
}

.img-btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  /* IMPORTANT */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.img-btn img {
  display: block;        /* removes extra whitespace */
  width: 48px;           /* adjust size if needed */
  height: auto;
  flex:1;
}
.taskbar
{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


